# Ignora node_modules em qualquer nível
**/node_modules/

# Ignora arquivos de build em qualquer pasta
**/dist/
**/build/

# Ignora arquivos de log em qualquer lugar
**/*.log

# Ignora arquivos específicos em subpastas
**/coverage/
**/.DS_Store
**/logs
**/.env
**/.env.test

**/claude
**/.claude

# Ignora todos os arquivos em backend/_storage/
backend/_storage/*
# Mas mantém os logos
!backend/_storage/large.png
!backend/_storage/small.png