name: low-code-js

services:
  mongo:
    image: mongo:latest
    container_name: low-code-js-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mongo-volume:/data/db
    ports:
      - "27017:27017"
    networks:
      - low-code-js-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile-local
    container_name: low-code-js-api
    restart: unless-stopped
    ports:
      - "${APP_SERVER_PORT}:3000"
    env_file: .env
    networks:
      - low-code-js-network
    depends_on:
      mongo:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health-check"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile-local
    container_name: low-code-js-app
    restart: unless-stopped
    ports:
      - "${APP_CLIENT_PORT}:3000"
    env_file: .env
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    networks:
      - low-code-js-network
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  mongo-volume:
    driver: local

networks:
  low-code-js-network:
    driver: bridge
