# LOCALE CONFIGURATIONS
LOCALE=pt-br

# FILE UPLOAD CONFIGURATIONS
FILE_UPLOAD_MAX_SIZE=10485760
FILE_UPLOAD_ACCEPTED=jpg;  jpeg;  png;  pdf;  doc;  docx;  xls;  xlsx;  txt;  zip;  rar
FILE_UPLOAD_MAX_FILES_PER_UPLOAD=10

# PAGINATION CONFIGURATIONS
PAGINATION_PER_PAGE=20

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
COOKIE_SECRET=


NODE_ENV=development
PORT=3000

DATABASE_URL=mongodb://local:local@127.0.0.1:27017

EMAIL_PROVIDER_PASSWORD=
EMAIL_PROVIDER_USER=
EMAIL_PROVIDER_HOST=
EMAIL_PROVIDER_PORT=

APP_SERVER_URL=http://localhost:3000
APP_CLIENT_URL=http://localhost:5173