# Ignora node_modules em qualquer nível
**/node_modules/

# Ignora arquivos de build em qualquer pasta
**/dist/
**/build/

# Ignora arquivos de log em qualquer lugar
**/*.log

# Ignora arquivos específicos em subpastas
**/coverage/
**/.DS_Store
**/logs
**/.env

**/coverage


_system/setting.properties