name: Docker Frontend

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile-production
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lowcodejs-app:${{ inputs.branch }}
          build-args: |
            VITE_API_BASE_URL=https://api.${{ inputs.branch }}.lowcodejs.org
          cache-from: type=gha
          cache-to: type=gha,mode=max
