name: Build and Docker on Latest

on:
  push:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile-production
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lowcodejs-api:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile-production
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lowcodejs-app:latest
          build-args: |
            VITE_API_BASE_URL=http://localhost:3000


